{% load static %}
<div class="ui inverted mini footer segment">
    <div class="ui center aligned container">
      <!--<div class="ui stackable inverted divided grid">-->
        <!--<div class="three wide column">-->
          <!--<h4 class="ui inverted header">Group 1</h4>-->
          <!--<div class="ui inverted link list">-->
            <!--<a href="#" class="item">Link One</a>-->
            <!--<a href="#" class="item">Link Two</a>-->
            <!--<a href="#" class="item">Link Three</a>-->
            <!--<a href="#" class="item">Link Four</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="three wide column">-->
          <!--<h4 class="ui inverted header">Group 2</h4>-->
          <!--<div class="ui inverted link list">-->
            <!--<a href="#" class="item">Link One</a>-->
            <!--<a href="#" class="item">Link Two</a>-->
            <!--<a href="#" class="item">Link Three</a>-->
            <!--<a href="#" class="item">Link Four</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="three wide column">-->
          <!--<h4 class="ui inverted header">Group 3</h4>-->
          <!--<div class="ui inverted link list">-->
            <!--<a href="#" class="item">Link One</a>-->
            <!--<a href="#" class="item">Link Two</a>-->
            <!--<a href="#" class="item">Link Three</a>-->
            <!--<a href="#" class="item">Link Four</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="seven wide column">-->
          <!--<h4 class="ui inverted header">Footer Header</h4>-->
          <!--<p>Extra space for a call to action inside the footer that could help re-engage users.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="ui inverted section divider"></div>-->
      <img src="{% static 'assets/images/logo.png'%}" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
          <div class="item">联系管理员</div>
          北中国<a class="item" href="mailto:tanyang@salubris.com">tanyang@salubris.com</a>
          南中国<a class="item" href="mailto:gaoshanshan@salubris.com">gaoshanshan@salubris.com</a>
          其他<a class="item" href="mailto:guorui@salubris.com">chencheng01@salubris.com</a>
      </div>
    </div>
  </div>