<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "sheets/base.html" %}
{% load static %}
{% load tags %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
DSM客户档案管理
{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider">

</div>


<!-- 写入 base.html 中定义的 content -->
{% block index %}
<div id="pusher" class="pusher" style="padding-top:50px">
    <div class="ui celled grid">
        <div class="three wide column">
            {% include 'clientfile/menu.html' %}
        </div>

        <div class="thirteen wide column">
            <div class="ui pointing secondary menu">
                <a class="item active" data-tab="client_cards"><i class="address card icon"></i>客户一览</a>
                <a class="item" data-tab="client_property"><i class="user md icon"></i>客户属性</a>
                <a class="item" data-tab="client_level"><i class="braille icon"></i>潜力分布</a>
                <a class="item" data-tab="management_dsm"><i class="paperclip icon"></i>管理分析-地区经理</a>
                <a class="item" data-tab="management_rsp"><i class="paperclip icon"></i>管理分析-代表</a>
            </div>
            <div class="ui tab segment active" data-tab="client_cards">

                <h3 class="ui header">
                    <div class="content">
                        客户一览
                        <div class="sub header">信息卡（按潜力排序）</div>
                    </div>
                </h3>
                <!--            按-->
                <!--            <div class="ui selection dropdown">-->
                <!--              <input type="hidden" name="gender">-->
                <!--              <i class="dropdown icon"></i>-->
                <!--              <div class="default text">Gender</div>-->
                <!--              <div class="menu">-->
                <!--                <div class="item" data-value="1">Male</div>-->
                <!--                <div class="item" data-value="0">Female</div>-->
                <!--              </div>-->
                <!--            </div>-->
                <!--            排序-->
                <div class="ui divider"></div>
                <div id="client_cards">
                    {% include 'clientfile/client_cards.html' %}
                </div>
            </div>
            <div class="ui tab segment" data-tab="client_property">
                {% include 'clientfile/property.html' %}
            </div>
            <div class="ui tab segment" data-tab="client_level">
                <h3 class="ui header">
                    <div class="content">
                        客户潜力分级
                        <div class="sub header">潜力高中低比例（阈值80/200）</div>
                    </div>
                </h3>
                <div class="ui divider"></div>
                <div class="ui container">
                    {% if request.user_agent.is_mobile %}
                        <div id="pie_potential_level" style="width:600px; height:600px;"></div>
                    {% else %}
                        <div id="pie_potential_level" style="width:1024px; height:600px;"></div>
                    {% endif %}
                </div>
                <h3 class="ui header">
                    <div class="content">
                        客户潜力分布
                        <div class="sub header">二十分位潜力区间分布</div>
                    </div>
                </h3>
                <div class="ui divider"></div>
                <div class="ui container">
                    {% if request.user_agent.is_mobile %}
                        <div id="bar_line_potential_dist" style="width:600px; height:600px;"></div>
                    {% else %}
                        <div id="bar_line_potential_dist" style="width:1024px; height:600px;"></div>
                    {% endif %}
                </div>
<!--                <h3 class="ui header">-->
<!--                    <div class="content">-->
<!--                        代表-客户潜力分布-->
<!--                        <div class="sub header">月相关病人数</div>-->
<!--                    </div>-->
<!--                </h3>-->
<!--                <div class="ui divider"></div>-->
<!--                <div class="ui container">-->
<!--                    {% if request.user_agent.is_mobile %}-->
<!--                        <div id="treemap_rsp_hosp_client" style="width:600px; height:600px;"></div>-->
<!--                    {% else %}-->
<!--                        <div id="treemap_rsp_hosp_client" style="width:1024px; height:600px;"></div>-->
<!--                    {% endif %}-->
<!--                </div>-->
            </div>
            <div class="ui tab segment" data-tab="management_dsm">
<!--                <h3 class="ui header">-->
<!--                    <div class="content">-->
<!--                        地区经理-->
<!--                        <div class="sub header">档案数</div>-->
<!--                    </div>-->
<!--                </h3>-->
<!--                <div class="ui divider"></div>-->
<!--                <div class="ui container">-->
<!--                    <div id="bar_dsm" style="width:1024px; height:600px;"></div>-->
<!--                </div>-->
                <h3 class="ui header">
                    <div class="content">
                        地区经理
                        <div class="sub header">档案分析</div>
                    </div>
                </h3>
                <div class="ui divider"></div>
                <div class="ui container" id='dsm_summary'
                     style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
                </div>
            </div>
            <div class="ui tab segment" data-tab="management_rsp">
                <h3 class="ui header">
                    <div class="content">
                        代表
                        <div class="sub header">档案分析</div>
                    </div>
                </h3>
                <div class="ui divider"></div>
                <div class="ui container" id='rsp_summary'
                     style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        output();
    });
</script>
<script>
    $("#AJAX_get").click(function () {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        var data = {
            "province-select": $("#province-select").val(),
            "bu-select": $("#bu-select").val(),
            "rd-select": $("#rd-select").val(),
            "rm-select": $("#rm-select").val(),
            "dsm-select": $("#dsm-select").val(),
            "rsp-select": $("#rsp-select").val(),
            "xltid-select": $("#xltid-select").val(),
            "hosp-select": $("#hosp-select").val(),
            "dc-select": $("#dc-select").val(),
            "hplevel-select": $("#hplevel-select").val(),
            "hpaccess-select": $("#hpaccess-select").val(),
            "dept-select": $("#dept-select").val(),
            "title-select": $("#title-select").val()
        };
        $.ajax({
            // 请求的url
            url: '{% url 'clientfile:analysis' %}',
            // 请求的type
            type:'POST',
            // 发送的数据
            data: data,
            dataType: 'html',
            // 回调函数，其中ret是返回的JSON，可以以字典的方式调用
            success:function(ret){     //成功执行
                $('#client_cards').html(ret);
            },
            error: function () {            //失败
                console.log('失败')
            }
        });
        output();
    })
</script>

<script>
    function output() {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });

        var data = {
            "province-select": $("#province-select").val(),
            "bu-select": $("#bu-select").val(),
            "rd-select": $("#rd-select").val(),
            "rm-select": $("#rm-select").val(),
            "dsm-select": $("#dsm-select").val(),
            "rsp-select": $("#rsp-select").val(),
            "xltid-select": $("#xltid-select").val(),
            "hosp-select": $("#hosp-select").val(),
            "dc-select": $("#dc-select").val(),
            "hplevel-select": $("#hplevel-select").val(),
            "hpaccess-select": $("#hpaccess-select").val(),
            "dept-select": $("#dept-select").val(),
            "title-select": $("#title-select").val()
        };

        $(
            function () {
                getData('bar_line_potential_dist', '{% url 'clientfile:ajax_chart' 'bar_line_potential_dist' %}');
                getData('pie_potential_level', '{% url 'clientfile:ajax_chart' 'pie_potential_level' %}');
                getData('pie_dept', '{% url 'clientfile:ajax_chart' 'pie_dept' %}');
                getData('bar_dept_potential', '{% url 'clientfile:ajax_chart' 'bar_dept_potential' %}');
                getData('pie_hpaccess', '{% url 'clientfile:ajax_chart' 'pie_hpaccess' %}');
                getData('bar_hpaccess_potential', '{% url 'clientfile:ajax_chart' 'bar_hpaccess_potential' %}');
                getData('pie_hplevel', '{% url 'clientfile:ajax_chart' 'pie_hplevel' %}');
                getData('bar_hplevel_potential', '{% url 'clientfile:ajax_chart' 'bar_hplevel_potential' %}');
                getData('pie_title', '{% url 'clientfile:ajax_chart' 'pie_title' %}');
                getData('bar_title_potential', '{% url 'clientfile:ajax_chart' 'bar_title_potential' %}');
                // getData('treemap_rsp_hosp_client', '{% url 'clientfile:ajax_chart' 'treemap_rsp_hosp_client' %}');
                // getData('bar_dsm', '{% url 'clientfile:ajax_chart' 'bar_dsm' %}');
                getTable('dsm_summary', 'table_dsm', '{% url 'clientfile:ajax_table' '地区经理' %}');
                getTable('rsp_summary', 'table_rsp', '{% url 'clientfile:ajax_table' '负责代表' %}');
            }
        );

        function getTable(div_id, table_id, ajax_url){
            data["table_id"] = table_id;
            $.ajax({
                // 请求的url
                url: ajax_url,
                // 请求的type
                type: 'GET',
                data: data,
                // 发送的数据
                // 回调函数，其中ret是返回的JSON，可以以字典的方式调用
                success:function(ret){     //成功执行
                    // 把查询结果输出到网页上
                    $('#'+div_id).html(ret);


                    $('#'+table_id).DataTable(
                        {
                            order: [[1, "desc"]],
                            pageLength: 25,
                            autoWidth: false,
                            bProcessing: true, //是否显示加载
                            language: {
                                search: "在记录中搜索:",
                                sLengthMenu: "每页显示 _MENU_ 条记录",
                                sProcessing: "处理中..."
                            }
                        });
                },
                error: function () {            //失败
                    console.log('失败')
                }
            });
        }
        function getData(chart_id, ajax_url) {

            var chart = echarts.init(document.getElementById(chart_id), 'white', {renderer: 'canvas'});

            chart.showLoading({
                text: '正在加载数据'
            });  //增加提示
            $.ajax({
                type: "GET",
                url: ajax_url,
                data: data,
                dataType: 'json',
                success: function (ret) {
                    chart.clear();
                    chart.setOption(ret.data);
                    chart.hideLoading();
                }
            });
        }
    }
</script>
<script>
    $(document).ready(function(){
        $('.pointing.secondary.menu .item').tab();
        $('.ui.dropdown').dropdown();
        // $('.endless_page_link').attr('class', 'item');
    });

</script>
{% endblock index %}