<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "sheets/base.html" %}
{% load static %}
{% load tags %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
DSM客户档案管理
{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider">

</div>


<!-- 写入 base.html 中定义的 content -->
{% block index %}
<div id="pusher" class="pusher" style="padding-top:60px">
    <div class="ui hidden divider"></div>
    {% if request.user|has_group:"地区经理" or request.user.is_staff %}
        <div class="ui container">
            <h2 class="ui blue dividing header">导入Excel</h2>
            <a href="{% static 'media/客户档案模板.xlsx' %}">下载客户档案模板</a>
            <form class="ui form" enctype="multipart/form-data" id="upload-form" method="post"  action="{% url 'clientfile:import_excel' %}">
                {% csrf_token %}
                <div class="field">
                    <div class="ui action input">
                        <input type="text" id="_attachmentName">
                        <label for="attachmentName" class="ui button btn-file">
                             <i class="upload icon"></i>选择本地Excel
                             <input type="file" id="attachmentName" name="attachmentName" style="display: none"
                                    accept="text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" >
                        </label>
                    </div>
                </div>
                <input type="button" id="upload" class="ui blue submit button" value="同步数据至平台">
            </form>
            <div class="ui hidden info message" id="msg"></div>
        </div>
        <div class="ui hidden divider"></div>
    {% endif %}
    <div class="ui container">
        <h2 class="ui blue dividing header">现有档案</h2>
        <input type="button" class="ui blue submit button" id="export_excel" value="导出{{ record_n }}条客户档案" onclick="location.href='{% url 'clientfile:export_clients' %}'">
        <div class="ui hidden divider"></div>
        <div class="ui container" id='result_table'
             style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
            {{ table|safe }}
        </div>
    </div>

    <div class="ui modal" id="modal_sync_warning">
        <i class="close icon"></i>
        <div class="header">
            警告
        </div>
        <div class="content">
            {% if record_n > 0 %}
            该动作会将本地Excel文件同步至服务器，服务器原有<span style="color: dodgerblue; ">{{ request.user }}</span>的<span style="color: dodgerblue; ">{{ record_n }}</span>相关记录将被删除或覆盖
            {% else %}
            该动作会将本地Excel文件同步至服务器
            {% endif %}
        </div>
        <div class="actions">
            <div class="ui black deny button">
                取消
            </div>
            <div class="ui positive right labeled icon button">
                确认同步
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function () {
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
});

</script>

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            pageLength: 25,
            autoWidth: false,
            fixedHeader: {
                headerOffset: 50
            },
            language: {
                search: "在档案中搜索:",
                sLengthMenu: "每页显示 _MENU_ 条档案"
            }
        });
    });

</script>

<script>
    $("#upload").click(function () {
        $('#modal_sync_warning')
            .modal("setting", {
                closable: false,
                onApprove: function () {
                    var formdata = new FormData(document.getElementById("upload-form"));
                    $("#msg").attr("class", "ui visible info message");
                    $("#msg").html("数据上传中……");
                    $.ajax({
                        url: '{% url 'clientfile:import_excel' %}',
                        type: "post",
                        data: formdata,
                        contentType: false, //- 必须false才会自动加上正确的Content-Type
                        processData: false, //- 必须false才会避开jQuery对 formdata 的默认处理,XMLHttpRequest会对 formdata 进行正确的处理
                        success: function (ret) {
                            if (ret.code === 1) {
                                $("#msg").attr("class", "ui positive message");
                                $("#msg").html(ret.msg);
                                $("#result_table").html(ret.data);
                                $("#export_excel").attr('value', '导出'+ret.record_n+'条客户档案');
                                $('#table').DataTable({
                                    pageLength: 25,
                                    autoWidth: false,
                                    fixedHeader: {
                                        headerOffset: 50
                                    },
                                    language: {
                                        search: "在档案中搜索:",
                                        sLengthMenu: "每页显示 _MENU_ 条档案"
                                    }
                                });
                            } else {
                                $("#msg").attr("class", "ui negative message");
                                $("#msg").html(ret.msg);
                            }
                        },
                        error: function () {
                            $("#msg").attr("class", "ui negative message");
                            $("#msg").html("上传失败，有错误发生");
                        }
                    });
                }
            })
        .modal("show");
    });
</script>

<script>
var fileExtentionRange = '.csv .xls .xlsx';
var MAX_SIZE = 30; // MB

$(document).on('change', '.btn-file :file', function() {
    var input = $(this);

    if (navigator.appVersion.indexOf("MSIE") != -1) { // IE
        var label = input.val();

        input.trigger('fileselect', [ 1, label, 0 ]);
    } else {
        var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        var numFiles = input.get(0).files ? input.get(0).files.length : 1;
        var size = input.get(0).files[0].size;

        input.trigger('fileselect', [ numFiles, label, size ]);
    }
});

$('.btn-file :file').on('fileselect', function(event, numFiles, label, size) {
    $('#attachmentName').attr('name', 'attachmentName'); // allow upload.

    var postfix = label.substr(label.lastIndexOf('.'));
    if (fileExtentionRange.indexOf(postfix.toLowerCase()) > -1) {
        if (size > 1024 * 1024 * MAX_SIZE ) {
            alert('max size：<strong>' + MAX_SIZE + '</strong> MB.');

            $('#attachmentName').removeAttr('name'); // cancel upload file.
        } else {
            $('#_attachmentName').val(label);
        }
    } else {
        alert('file type：<br/> <strong>' + fileExtentionRange + '</strong>');

        $('#attachmentName').removeAttr('name'); // cancel upload file.
    }
});
</script>

{% endblock index %}