<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "sheets/base.html" %}
{% load static %}
{% load tags %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
DSM客户档案管理
{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider">

</div>


<!-- 写入 base.html 中定义的 content -->
{% block index %}
<div id="pusher" class="pusher" style="padding-top:60px">
    <div class="ui hidden divider"></div>
    {% if request.user|has_group:"地区经理" %}
        <div class="ui container">
            <h2 class="ui blue dividing header">导入Excel</h2>
            <a href="{% static 'media/客户档案模板.xlsx' %}">下载客户档案模板</a>
            <form class="ui form" enctype="multipart/form-data" id="upload-form" method="post"  action="{% url 'clientfile:import_excel' %}">
                {% csrf_token %}
                <div class="field">
                    <div class="ui action input">
                        <input type="text" id="_attachmentName">
                        <label for="attachmentName" class="ui button btn-file">
                             <i class="upload icon"></i>选择本地Excel
                             <input type="file" id="attachmentName" name="attachmentName" style="display: none"
                                    accept="text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" >
                        </label>
                    </div>
                </div>
                <input type="button" id="upload" class="ui blue submit button" value="同步数据至平台">
            </form>
            <div class="ui hidden info message" id="msg"></div>
        </div>
        <div class="ui hidden divider"></div>
    {% endif %}
    <div class="ui left rail">
        <div class="ui segment">
          Left Rail Content
        </div>
      </div>
    <div class="ui container">
        <h2 class="ui blue dividing header">现有档案</h2>
        <div class="ui labeled button" tabindex="0">
            <div type="button" class="ui classic blue button" id="export_excel" onclick="location.href='{% url 'clientfile:export_clients' %}'">
                <i class="file excel outline icon"></i> 导出至Excel
            </div>
            <a class="ui basic left pointing blue label">
                {{ record_n }}条档案
            </a>
        </div>

        <div class="ui hidden divider"></div>
        <div class="ui container" id='result_table'>
            <table cellpadding="0" cellspacing="0" border="0" id="table" class="ui celled table">
            </table>
        </div>
    </div>

    <div class="ui modal" id="modal_sync_warning">
        <i class="close icon"></i>
        <div class="header">
            警告
        </div>
        <div class="content">
            {% if record_n > 0 %}
            该动作会将本地Excel文件同步至服务器，服务器原有<span style="color: dodgerblue; ">{{ request.user }}</span>的<span style="color: dodgerblue; ">{{ record_n }}</span>相关记录将被删除或覆盖
            {% else %}
            该动作会将本地Excel文件同步至服务器
            {% endif %}
        </div>
        <div class="actions">
            <div class="ui black deny button">
                取消
            </div>
            <div class="ui positive right labeled icon button">
                确认同步
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function () {
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
});

</script>

<script>
    $(document).ready(function () {
        $("#table").DataTable(
            initDataTable(urlParam, columnsParam)
        )
    });

</script>

<script>
    $("#upload").click(function () {
        $('#modal_sync_warning')
            .modal("setting", {
                closable: false,
                onApprove: function () {
                    var formdata = new FormData(document.getElementById("upload-form"));
                    $("#msg").attr("class", "ui visible info message");
                    $("#msg").html("数据上传中……");
                    $.ajax({
                        url: '{% url 'clientfile:import_excel' %}',
                        type: "post",
                        data: formdata,
                        contentType: false, //- 必须false才会自动加上正确的Content-Type
                        processData: false, //- 必须false才会避开jQuery对 formdata 的默认处理,XMLHttpRequest会对 formdata 进行正确的处理
                        success: function (ret) {
                            if (ret.code === 1) {
                                $("#msg").attr("class", "ui positive message");
                                $("#msg").html(ret.msg);
                                setTimeout(function(){$('#table').DataTable().ajax.reload(null, false);}, 1000);
                            } else {
                                $("#msg").attr("class", "ui negative message");
                                $("#msg").html(ret.msg);
                            }
                        },
                        error: function () {
                            $("#msg").attr("class", "ui negative message");
                            $("#msg").html("上传失败，有未知错误发生，请联系管理员");
                        }
                    });
                }
            })
        .modal("show");
    });
</script>


<script>
    // table初始化方法
    function initDataTable(urlParam, columnsParam) {
        return {
            sPaginationType: "full_numbers", //分页风格，full_number会把所有页码显示出来
            searching: true,//搜索
            ordering: true,//是否启用排序
            bProcessing: true, //是否显示加载
            sAjaxSource: urlParam, //请求资源路径
            serverSide: true, //开启服务器处理模式
            /*
                   使用ajax，在服务端处理数据
                   sSource:即是"sAjaxSource"
                   aoData:要传递到服务端的参数
                   fnCallback:处理返回数据的回调函数
                   */
            fnServerData: function (sSource, aoData, fnCallback) {
                $.ajax({
                    'type': 'POST',
                    "url": sSource,
                    "dataType": "json",
                    "data": {"aodata": JSON.stringify(aoData)},
                    "success": function (resp) {
                        fnCallback(resp);
                    }
                });
            },
            "oLanguage": {//语言设置
                "sLengthMenu": '<select class="form-control" style="width:150px">'
                    + '<option value="10" selected>每页显示10条</option>'
                    + '<option value="20">每页显示20条</option>'
                    + '<option value="50">每页显示50条</option>'
                    + '<option value="100">每页显示100条</option>'
                    + '</select>',
                "sProcessing": "处理中...",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条客户档案，共 _TOTAL_ 条",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(获取 _MAX_ 条客户档案)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
            },
            "bServerSide": true, //开启服务器模式，使用服务器端处理配置datatable。
            "columns": columnsParam,
        }
    }

    var urlParam = '{% url 'clientfile:clients' %}'
    var columnsParam = [
        {title: "南北中国", data: "bu"},
        {title: "区域", data: "rd"},
        {title: "大区", data: "rm"},
        {title: "地区经理", data: "dsm"},
        {title: "负责代表", data: "rsp"},
        {title: "医院全称", data: "hospital"},
        {title: "医院级别", data: "hp_level"},
        {title: "客户姓名", data: "name"},
        {title: "所在科室", data: "dept"},
        {title: "职称", data: "title"},
        {title: "月出诊半天", data: "consulting_times"},
        {title: "每半天病人数", data: "patients_half_day"},
        {title: "相关病人比例", data: "target_prop"},
        // {title: "备注", data: "note"},
        {title: "月累积病人数", data: "monthly_target_patients"},
        {title: "潜力评级", data: "potential_level"},
    ];

</script>

<script>
var fileExtentionRange = '.csv .xls .xlsx';
var MAX_SIZE = 30; // MB

$(document).on('change', '.btn-file :file', function() {
    var input = $(this);

    if (navigator.appVersion.indexOf("MSIE") != -1) { // IE
        var label = input.val();

        input.trigger('fileselect', [ 1, label, 0 ]);
    } else {
        var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        var numFiles = input.get(0).files ? input.get(0).files.length : 1;
        var size = input.get(0).files[0].size;

        input.trigger('fileselect', [ numFiles, label, size ]);
    }
});

$('.btn-file :file').on('fileselect', function(event, numFiles, label, size) {
    $('#attachmentName').attr('name', 'attachmentName'); // allow upload.

    var postfix = label.substr(label.lastIndexOf('.'));
    if (fileExtentionRange.indexOf(postfix.toLowerCase()) > -1) {
        if (size > 1024 * 1024 * MAX_SIZE ) {
            alert('max size：<strong>' + MAX_SIZE + '</strong> MB.');

            $('#attachmentName').removeAttr('name'); // cancel upload file.
        } else {
            $('#_attachmentName').val(label);
        }
    } else {
        alert('file type：<br/> <strong>' + fileExtentionRange + '</strong>');

        $('#attachmentName').removeAttr('name'); // cancel upload file.
    }
});
</script>

{% endblock index %}