<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "sheets/base.html" %}
{% load static %}
{% load tags %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
DSM客户档案管理
{% endblock title %}

<!-- 隐藏分隔条 -->
<div class="ui hidden divider">

</div>


<!-- 写入 base.html 中定义的 content -->
{% block index %}
<div id="pusher" class="pusher" style="padding-top:100px">
    <div class="ui container">
        <div class="ui huge breadcrumb">
          <a class="section" href="{% url 'clientfile:groups' %}">客户分组事件</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">{{ group.name}}</div>
        </div>
        <div class="ui divider"></div>
        <div class="ui pointing secondary menu">
            <a class="item active" data-tab="group_info"><i class="info circle icon"></i>分组事件信息</a>
            <a class="item" data-tab="client_property"><i class="chart pie icon"></i>客户属性</a>
            <a class="item" data-tab="client_cards"><i class="address card icon"></i>客户一览</a>
        </div>
        <div class="ui tab segment active" data-tab="group_info">
            <h3 class="ui header">
                <div class="content">
                    基本信息
                </div>
            </h3>
            <div class="ui divider"></div>
            <div id="group_info">
                <table class="ui celled striped table">
                    <tbody>
                    <tr>
                        <td><h5 class="ui header">分组事件名称</h5></td>
                        <td>{{ group.name }}</td>
                    </tr>
                    <tr>
                        <td><h5 class="ui header">备注</h5></td>
                        <td>{{ group.note }}</td>
                    </tr>
                    <tr>
                        <td><h5 class="ui header">创建用户</h5></td>
                        <td>{{ group.created_by }}</td>
                    </tr>
                    <tr>
                        <td><h5 class="ui header">创建时间</h5></td>
                        <td>{{ group.pub_date }}</td>
                    </tr>
                    <tr>
                        <td><h5 class="ui header">客户数量</h5></td>
                        <td>{{ group.clients_count_with_deleted }}</td>
                    </tr>
                    <tr>
                        <td><h5 class="ui header">潜力总和</h5></td>
                        <td>{{ group.total_monthly_patients|stringformat:".0f" }}</td>
                    </tr>
                    <tr>
                        <td><h5 class="ui header">平均潜力</h5></td>
                        <td>
                            <span>{{ group.avg_monthly_patients|stringformat:".0f" }}</span>
                            {% if group.clients_count_with_deleted > 0 %}
                            <div class="ui blue basic label">高于名下{{ potential_rank }}的客户</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><h5 class="ui header">客户名单</h5></td>
                        <td>
                            {% if group.clients_all_with_deleted %}
                            <table class="ui table" id="client-selected">
                                <thead>
                                <tr>
                                    <th style="display:none">id</th>
                                    <th>南北中国</th>
                                    <th>医院</th>
                                    <th>科室</th>
                                    <th>姓名</th>
                                    <th>潜力评级</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in group.clients_all_with_deleted %}
                                <tr>
                                    <td style="display:none">{{ client.pk }}</td>
                                    <td>{{ client.bu }}</td>
                                    <td>{{ client.hospital }}</td>
                                    <td>{{ client.dept }}</td>
                                    <td><a href="{% url 'clientfile:client_detail' client.pk %}">{{ client.name }}</a></td>
                                    <td><div class="ui star rating" data-rating="{{ client.potential_level }}" data-max-rating="3"></div></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ui tab segment" data-tab="client_property">
            {% include 'clientfile/property.html' %}
        </div>
        <div class="ui tab segment" data-tab="client_cards">
            <h3 class="ui header">
                <div class="content">
                    客户一览
                    <div class="sub header">信息卡（按潜力排序）</div>
                </div>
            </h3>
            <div class="ui divider"></div>
            <div id="group_client_cards">
                {% include 'clientfile/group_client_cards.html' %}
            </div>
        </div>
    </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        output();
    });
</script>
<script>
    function output() {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        var data = {
            "group_id": "{{ group.pk }}"
        };
        $(
            function () {
                getData('pie_dept', '{% url 'clientfile:ajax_chart' 'pie_dept' %}');
                getData('bar_dept_potential', '{% url 'clientfile:ajax_chart' 'bar_dept_potential' %}');
                getData('pie_hpaccess', '{% url 'clientfile:ajax_chart' 'pie_hpaccess' %}');
                getData('bar_hpaccess_potential', '{% url 'clientfile:ajax_chart' 'bar_hpaccess_potential' %}');
                getData('pie_hplevel', '{% url 'clientfile:ajax_chart' 'pie_hplevel' %}');
                getData('bar_hplevel_potential', '{% url 'clientfile:ajax_chart' 'bar_hplevel_potential' %}');
                getData('pie_title', '{% url 'clientfile:ajax_chart' 'pie_title' %}');
                getData('bar_title_potential', '{% url 'clientfile:ajax_chart' 'bar_title_potential' %}');
            }
        );


        function getData(chart_id, ajax_url) {

            var chart = echarts.init(document.getElementById(chart_id), 'white', {renderer: 'canvas'});

            chart.showLoading({
                text: '正在加载数据'
            });  //增加提示
            $.ajax({
                type: "GET",
                url: ajax_url,
                data: data,
                dataType: 'json',
                success: function (ret) {
                    chart.clear();
                    chart.setOption(ret.data);
                    chart.hideLoading();
                }
            });
        }
    }
</script>
<script>
    $(document).ready(function(){
        $('.pointing.secondary.menu .item').tab();
        $(".rating").rating('disable');
    });

</script>

{% endblock index %}
