Django==2.2.24
django-el-pagination==3.3.0
django-js-asset==1.2.2
django-mptt==0.11.0
django-mptt-admin==1.0.1
django-user-agents==0.4.0
djangorestframework==3.11.0
Jinja2==2.11.1
MarkupSafe==1.1.1
numpy==1.18.2
pandas==1.0.3
pandas-schema==0.3.5
prettytable==0.7.2
pyecharts==1.7.1
python-dateutil==2.8.1
python-memcached==1.59
pytz==2019.3
scipy==1.4.1
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.1
ua-parser==0.10.0
user-agents==2.1
xlrd==1.2.0
XlsxWriter==1.2.8
